<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
<Document name="Forgery.ZPM"><Module>
  <Name>Forgery</Name>
  <Version>1.3.2</Version>
  <Packaging>module</Packaging>
  <Resource Name="Forgery.PKG" />
  <LifecycleClass>Module</LifecycleClass>
</Module>
</Document></Export>
