name: Create XML release asset

on:
  release:
    types: [published]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - name: Clone this repository
      uses: actions/checkout@v2
      with:
        path: app
    - name: Clone IRIS-CI-XML
      uses: actions/checkout@v2
      with:
        path: iris-ci-xml
        repository: rfns/iris-ci-xml
    - name: Install dos2unix
      run: |
        sudo apt-get update
        sudo apt-get install -y dos2unix
    - name: Convert line endings to LF (Unix format)
      run: find . -type f -exec dos2unix {} \;
    - name: Parse the tag
      id: parse-metadata
      run: |
        export VERSION=${GITHUB_REF/refs\/tags\//}
        echo "VERSION=${VERSION}" >> $GITHUB_OUTPUT
        echo "REPOSITORY_NAME=$(echo "$GITHUB_REPOSITORY" | awk -F / '{print $2}' | sed -e "s/:refs//")" >> $GITHUB_OUTPUT
        echo "PACKAGE_NAME=$(echo "$REPOSITORY_NAME-$VERSION")" >> $GITHUB_OUTPUT        
    - name: Import this repository and generate XML artifacts
      run: |
        touch "app/${{ steps.parse-metadata.outputs.REPOSITORY_NAME }}.xml"
        chmod 777 "app/${{ steps.parse-metadata.outputs.REPOSITORY_NAME }}.xml"
        docker run --rm \
        -t --name xml-ci \
        -v $PWD/app:/opt/ci/app \
        -v $PWD/iris-ci-xml/ci/App/Installer.cls:/opt/ci/App/Installer.cls \
        -v $PWD/iris-ci-xml/ci/Runner.cls:/opt/ci/Runner.cls \
        -e PORT_CONFIGURATION_PROJECTNAME="forgery" \
        -e PORT_CONFIGURATION_LOGLEVEL=2 \
        -e CI_XML_FLAGS="/exportversion=2016.2" \
        ghcr.io/rfns/iris-ci/iris-ci:v0.6.5
        mv "app/${{ steps.parse-metadata.outputs.REPOSITORY_NAME }}.xml" "app/${{ steps.parse-metadata.outputs.PACKAGE_NAME }}-${{ steps.parse-metadata.outputs.VERSION }}.xml"
    - name: Upload release files
      id: release-files
      uses: softprops/action-gh-release@v2
      with:
        files: |
          app/${{ steps.parse-metadata.outputs.PACKAGE_NAME }}-${{ steps.parse-metadata.outputs.VERSION }}.xml

